@import "tailwindcss";

/* High contrast light & dark theme */
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }

  .dark {
    --background: #000000;
    --foreground: #ffffff;
  }
  
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply font-sans antialiased;
  }
}
